.start {
  background-color: blueviolet;
}

.logo-link,
.nav ul li a {
  color: black;
}

.logo-link:hover,
.nav ul li a:hover {
  text-decoration: none;
}

.link-code:hover,
.link-code {
  text-decoration: none;
  background: linear-gradient(to right,
      rgb(0, 132, 255),
      rgb(255, 0, 242));
  -webkit-background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}

footer .row p {
  text-align: center;
}
nav ul li a,.logo{
   font-weight:500;
}

nav ul li a:hover, .logo:hover{
  color:rgb(0, 0, 231);
}